<div class="page-header-cyber">
  <h1 class="page-title-cyber">New Post Subject</h1>
  <div class="d-flex gap-2">
    <%= link_to "â† Back", post_subjects_path, class: "btn-cyber btn-secondary-cyber" %>
  </div>
</div>

<%= render "form", post_subject: @post_subject %>
