<% if @project %>
  <nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Projects", projects_path %></li>
      <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
      <li class="breadcrumb-item active">New Subject</li>
    </ol>
  </nav>
<% end %>

<h1 class="h3 mb-3">New Subject</h1>
<%= render "form", subject: @subject %>
